.ant-row.login-wrap {
    height: 100%;
    display: flex;

    .login-main {
        height: 100%;
        background-color: #fff;

        .login-content {
            margin: 30px auto;
        }
    }
    .right-main {
        height: 100%;
        background-color: skyblue;
    }
}
